<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Issue Tracker</span>
        <button class="btn btn-outline-success" type="submit">Create Project</button>
    </div>
</nav>