<nav class="navbar bg-body-tertiary bg-primary-subtle">
    <div class="container-fluid">
       <a id="issue" href="/"><span class="navbar-brand mb-0 h1">Issue Tracker</span></a>
        <a href="/project">
            <button id="create_project" class="btn btn-outline-success" type="submit">Create Project</button>
        </a>
        
    </div>
</nav>