<div class="card">
    
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>2023 Issue Tracker. All rights reserved.</p>
            <footer class="blockquote-footer"> <cite title="Source Title">Kr Ratre</cite></footer>
        </blockquote>
    </div>
</div>